@charset "UTF-8";
$yahei:"microsoft yahei";
body {
    #mei-dialog {
        border: solid 1px #33B5E5;
        border-radius: 5px;
        background: inherit;
        color: inherit;
    }
}
#mei-dialog {
      display: block;
      width: 280px;
      border: solid 1px #72767b;
      /*border: solid 1px orange;*/
      border-radius: 10px;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      position: absolute;
      z-index: 1000000;
      margin: 0 auto;
      background: #464646;
      color: white;
    .a-title {
      height: 35px;
      line-height: 35px;
      background: none;
      text-align: center;
      /*color: #F60;*/
      border-bottom: 1px solid #B6B6B6;
      font-size: 20px;
      font-family: $yahei;
      font-weight: bold;
    }
    .a-content {
      margin: 0px;
      padding: 20px;
      width: 100%;
      line-height: 22px;
      text-align: center;
      word-wrap: break-word;
      word-break: break-all;
      box-sizing: border-box;
      border-bottom: 1px solid #B6B6B6;
    }
    .a-confirm {
        display: inline-block;
        width: 50%;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        font-family: $yahei;
        border-radius: 0;
        text-align: center;
        box-sizing: border-box;
        border-right: 1px solid #B6B6B6;
    }
    .a-cancel {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      font-family: $yahei;
      text-align: center;
    }
}